{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Agregar Cliente</title>
    <link rel="stylesheet" href="{% static 'css/agregar.css' %}">
</head>
<body>
<div class="form-container">
    <h2>➕ Agregar Cliente</h2>
    <form method="POST">
        {% csrf_token %}

        <label>Nombre:</label>
        <input type="text" name="nombre" required>

        <label>Apellido:</label>
        <input type="text" name="apellido1" required>

        <label for="menu">Tipo de Documento:</label>
        <select name="tipo_documento" id="menu" required>
            <option value="1">👤 DNI</option>
            <option value="2">🛂 Pasaporte</option>
        </select>

        <label>Documento:</label>
        <input type="text" name="documento" required>

        <label>Correo:</label>
        <input type="email" name="correo" placeholder="ejemplo@correo.com">

        <label>Tipo de Enfermedad:</label>
        <select name="tipo_enfermedad" required>
            <option value="">Seleccione...</option>
            <option value="Cardiaca">Cardíaca</option>
            <option value="Respiratoria">Respiratoria</option>
            <option value="Motora">Motora</option>
            <option value="Sensorial">Sensorial</option>
            <option value="Cognitiva">Cognitiva</option>
            <option value="Otra">Otra</option>
        </select>

        <label>Zona Asignada:</label>
        <select name="zona_asignada">
            <option value="">Sin asignar</option>
            {% for zona in zonas %}
                <option value="{{ zona.id }}">{{ zona.nombre }}</option>
            {% endfor %}
        </select>

        <button type="submit">Guardar</button>
        <a href="{% url 'admin_panel' %}" class="cancel-btn">Cancelar</a>
    </form>
</div>
</body>
</html>
